.content { /*edited contents */
  padding: 2%;
  font-size: 30px;
  color:rgb(221,221,221);
}

.form { /*form changes*/
  padding-bottom: 4%;
    color:rgb(221,221,221);
    margin-left: 4%;
    margin-right: 4%;
}

form { /*form tag changes*/
  font-size: 20px;
    color:rgb(221,221,221);
}

legend {
  font-weight: bold;
  font-size: 25px;
  font-style: italic;
color:rgb(221,221,221);
}

label {
  width: 150px;
  display: inline-block;
  font-weight: bold;
    color:rgb(221,221,221);
    padding-left: 2%
}

.cont_inf {
    margin-top: 2%;
}

input{
    margin-left: 5%;
}

input[type=submit], input[type=reset]{
    color: rgb(221,221,221);
    font-size: 16px;
    width: 90px;
    height: 35px;
    border: 1px solid rgb(0,0,0);
}

input[type=submit]{
    background-color: rgba(155, 119, 81,0.4);
    border-radius: 2%;
        border-radius: 40%
}

input[type=reset]{
    opacity: 1;
    color: rgb(0, 0, 0);
    border-radius: 40%
}

input[type=reset]:hover{
    background-color: rgba(155, 119, 81,0.5);
    color: rgb(221,221,221);
}

input[type=submit]:hover{
    background-color: rgb(221,221,221);
    color: rgb(0,0,0);

}

.sub-res {
    margin-top: 2%;
}

#form-tit {
    padding-left: 2.2%;
    font-size: 60px;
    text-decoration: underline;
}

.purpose {
    margin-top: 2%;
}

.body-main {
    margin-top: -2%;
}

footer{
	display: flex;
}

.contact ul {
	margin:0;
	justify-content:space-around;
}
.contact ul li{
	list-style: none;
	margin: 0.5%;
	 padding: 1%;
}

.contact ul li a{ 
	text-decoration: none; 
	color: black; 
}

.main-foot{
	background: rgb(221,221,221);
	width: 50%; 
	text-align: center;
	padding: 2%; 
}
.contact{
	background: rgb(221,221,221);
	width: 50%; 
	text-align: center;
	padding: 2%; 
}

.main-foot a{ 
	text-decoration: none; 
    color: black; }