*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html{
    color:#444;
    font-family:'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;  
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(img/background.jpg);
    background-size: cover;
    background-position: center;
    background-position: fixed;
    height: 100vh;
}

nav {
    width: 100%;
    height: auto;
    margin: 0%
}

.main {
    display: flex;
    color: rgb(221,221,221);
}

.logo {
    flex-direction: column;
    display: block;
}

.img-logo {
    height: 150px;
    width: auto;
    margin-top: -15%;
    margin-left: 100%;
}

.cont {
    display: flex;
    margin-left: 50%;
    margin-top: 2%;
  
}

.cont > div {
    flex-direction: column;
    padding: 10px;
    margin-left: 3%;
}

.cont > div > a {
    padding: 16px 20px;
    color: rgb(221,221,221);
    text-decoration: none;
    border-radius: 200px;
}
 
.active,.cont > div > a:hover {
     background-color: rgba(217, 216, 214, 0.24);
    color: rgb(221,221,221);
}

h1{
    margin-top: 0;
    font-size: 280%;
    margin-bottom:15px;
}

.button{
    display: inline-block;
    padding: 8px 25px;
    text-decoration: none;
    font-weight: 300; 
    border-radius: 200px;
    color: rgb(221,221,221);
}

.buttonA{
     background-color: rgba(155, 119, 81,0.4);
     border: 1px solid #333;
}
.buttonB{
    border: 1px solid #333;
}

.buttonB:hover{
    background-color: rgba(155, 119, 81,0.5);
 
}

.textbox {
    position: absolute;
    width: 1140px;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: rgb(221,221,221);
}


